SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin
00 11 * * * crontab -l > ~/.config/crontab
00 10 * * * brew bundle dump --file ~/dotfiles/`uname -s | tr A-Z a-z`/Brewfile -f &>/dev/null
0 */1 * * * [ -x "$(command -v unison)" ] && UNISON=~/.config/unison unison -silent &>/dev/null
